<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mytakeout.mapper.AuthorityMapper">
    <select id="get" resultType="com.example.mytakeout.entity.Authority"> 
        select * from t_authority 
        where ${column} = ${value}
    </select>
    <!-- TODO:时间挫 -->
    <insert id="addAuthority" useGeneratedKeys="true" keyProperty="id" >
        insert into t_authority(gmt_create,gmt_modified,user_id,authority) 
        values (now(),now(),#{userId},#{authority})
    </insert>

    <!-- updateAuthority --> 

    <update id="updateAuthority">
        update t_authority
        <set>
            <if test="1">gmt_modified = NOW() </if>
            <if test="userId != null">user_id = #{userId} </if>
            <if test="authority != null">authority = #{authority} </if>
        </set>
        where if = #{id}
    </update>
  </mapper>