<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 

| Field         | Type         | Null | Key | Default | Extra          |

| id            | int          | NO   | PRI | NULL    | auto_increment |
| category_name | varchar(30)  | YES  | UNI | NULL    |                |
| detail        | varchar(100) | YES  |     | NULL    |                |

 -->
<mapper namespace="com.example.mytakeout.mapper.CategoryMapper">
    <insert id="addCategory" useGeneratedKeys="true" keyProperty="id"> 
        insert into t_category(gmt_create,gmt_modified,category_name,introduction,category_sort)
        values(now(),now(),#{categoryName},#{introduction},#{categorySort}) 
    </insert>
    <select id="getAllSorted" resultType="com.example.mytakeout.entity.Category"> 
        select * from
        t_category order by category_sort ASC 
    </select>

    <!-- updateCategory -->
    <update id="updateCategory"> 
        update t_category <set>
            <if test="1" >gmt_modified=now(),</if>
            <if test="categoryName != null"> category_name=#{categoryName},</if>
            <if test="detail != null">detail=#{detail},</if>
        </set> where id=#{id} 
    </update>

    <!-- deleteCategoryById -->

    <delete id="deleteCategory"> 
        delete from t_category where id = #{id};

        delete d 
        from dish d
        inner join (
            select dish_id
            from t_fk_category_dish fk
            where fk.category_id = #{id}
        ) p 
        on d.id = p.dish_id;

        delete fk from t_fk_category_dish fk
        where fk.category_id = #{id};
    </delete>

    <!-- get --> 

    <select id="get"> 
        select (c.id,c.category_name,d.introduction,category_sort) 
        from t_category c inner join t_category_detail d 
        on c.id = d.category_id
        where ${columnName} = #{value} 
    </select>
</mapper>